@import url(
    'https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

            
    * {
                margin: 0;
                padding: 0;
                outline: none;
                box-sizing: border-box;
                font-family: 'Montserrat', sans-serif;
            }
body{
background: f1fbff;
}

.section-padding{
    padding: 50px 0;
    padding-bottom: 2%;
    width:100%;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
   margin-bottom: 350px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;

}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.navbar{
     background: #194a7a;
     height: 10vh;
     position: relative;
    

 } .navbar.fixed-top {
        position: fixed;
        top: 0;
        transition: all 0.3s ease-out;
}
.nav-item a{
    font-size: 18px;
    text-transform: uppercase;
    color: white;  
    font-weight: 500;
}

.nav-item{
    margin-left: 50px;
    display: flex;
    text-align: center;

}

.nav-item a:hover{
color: #7593af;
}

.navbar-brand{
    font-size: 20px;
}

.navbar-brand, .navbar-brand:hover{
    color: white;
    
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: white;
}

.navbar-light .navbar-nav .navbar-link{
    color: white;
}
.w-100{
    height: 100vh;
}


.features .card-body i{
    font-size: 30px;

}

#features h2{
    font-size: 40px;
}

#features p{
    font-size: 20px;
}

#about h2{
    font-size: 40px;

}
#about p{
    font-size: 20px;
}
.container{
    width: 100px;
    margin: 0;
}


/* responsive css */

@media screen and (min-width:768px) and (max-width: 991px) {
    .carousel-caption{
        bottom: 350px;
    }

    .carousel-caption p {
        width: 100%;
    }


}

@media only screen and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}



/* footer */
footer {
    padding: 20px;
    width: 100;
    background-color: black;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer p,
footer i{
    color: white;
}

footer .social-icons i{
font-size: 24px;
}

footer .social-icons i:not(:last-child){
margin-right: 24px;
}

